<header class="site-header">
  <div class="container">
    <div class="logo">
      <a href="index.html"><img src="images/common/logo.svg" alt="2026台北花伴野餐" /></a>
    </div>
    <div class="language">
      <a href="?lang=zh" class="language-zh">中文</a> / <a href="?lang=en" class="language-en">English</a>
    </div>
    <div class="hamburger-notice"></div>
    <div class="hamburger"><span></span></div>
  </div>
  <div class="site-nav">
    <div class="container">
      <div class="site-nav-header"><img src="../images/common/logo-white.svg" alt=""></div>
      <nav>
        <a data-i18n="nav.home" data-nav-link="home"></a>
        <a data-i18n="nav.coffee" data-nav-link="coffee"></a>
        <a data-i18n="nav.sports" data-nav-link="sports"></a>
        <a data-i18n="nav.pets" data-nav-link="pets"></a>
        <a data-i18n="nav.market" data-nav-link="market"></a>
        <a data-i18n="nav.run" data-nav-link="run"></a>
        <a data-i18n="nav.pokemon" data-nav-link="pokemon"></a>
      </nav>
      <div class="site-nav-social">
        <a href="https://www.facebook.com/elle.tw" target="_blank" rel="noopener noreferrer"><img src="images/common/fb.png" alt="Facebook" /></a>
        <a href="https://www.instagram.com/elletaiwan/" target="_blank" rel="noopener noreferrer"><img src="images/common/ig.png" alt="Instagram" /></a>
      </div>
      <div class="site-nav-close"></div>
    </div>
  </div>
</header>