:root {
  --remBasicSize: 16px;
}
@function rem($px) {
  @return calc($px/16 * var(--remBasicSize));
}

/*思源*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  position: relative;
}
html,
body {
  font-family: "Noto Sans TC", Helvetica, Arial, "黑體-繁", "Heiti TC", "儷黑","LiHei", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: rem(16);
  width: 100%;
  height: 100%;
  background-color: #e8f2fa;
  padding: 0; 
  margin: 0;
  // min-width: 750px;
    
}
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
.padding {
  &_left-right {
    &--20 {
      padding-right: rem(20);
      padding-left: rem(20);
    }
    &--30 {
      padding-right: rem(30);
      padding-left: rem(30);
    }
    &--40 {
      padding-right: rem(40);
      padding-left: rem(40);
    }
    &--50 {
      padding-right: rem(50);
      padding-left: rem(50);
    }
  }
  &_top {
    &--10 {
      padding-top: rem(10);
    }
    &--20 {
      padding-top: rem(20);
    }
    &--30 {
      padding-top: rem(30);
    }
    &--40 {
      padding-top: rem(40);
    }
    &--50 {
      padding-top: rem(50);
    }
    &--60 {
      padding-top: rem(60);
    }
  }
  &_bottom {
    &--10 {
      padding-bottom: rem(10);
    }
    &--20 {
      padding-bottom: rem(20);
    }
    &--30 {
      padding-bottom: rem(30);
    }
    &--40 {
      padding-bottom: rem(40);
    }
    &--50 {
      padding-bottom: rem(50);
    }
    &--60 {
      padding-bottom: rem(60);
    }
  }
}
.margin {
  &_0 {
    margin: 0;
  }
  &_top {
    &--10 {
      margin-top: rem(10);
    }
    &--20 {
      margin-top: rem(20);
    }
    &--30 {
      margin-top: rem(30);
    }
    &--40 {
      margin-top: rem(40);
    }
    &--50 {
      margin-top: rem(50);
    }
    &--60 {
      margin-top: rem(60);
    }
  }
  &_bottom {
    &--10 {
      margin-bottom: rem(10);
    }
    &--20 {
      margin-bottom: rem(20);
    }
    &--30 {
      margin-bottom: rem(30);
    }
    &--40 {
      margin-bottom: rem(40);
    }
    &--50 {
      margin-bottom: rem(50);
    }
    &--60 {
      margin-bottom: rem(60);
    }
  }
  &_left {
    &--10 {
      margin-left: rem(10);
    }
    &--20 {
      margin-left: rem(20);
    }
    &--30 {
      margin-left: rem(30);
    }
    &--40 {
      margin-left: rem(40);
    }
  }
  &_right {
    &--10 {
      margin-right: rem(10);
    }
    &--20 {
      margin-right: rem(20);
    }
    &--30 {
      margin-right: rem(30);
    }
    &--40 {
      margin-right: rem(40);
    }
  }
}
.flex {
  display: flex;
  align-items: center;
  &_gap {
    &--10 {
      gap: rem(10);
    }
    &--20 {
      gap: rem(20);
    }
    &--30 {
      gap: rem(30);
    }
    &--40 {
      gap: rem(40);
    }
  }
}
.text {
  &--center {
    text-align: center;
  }
}
.wrapper {
  width: 100%;
  margin: 0 auto; 
  overflow: hidden;
  section, .container {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    max-width: rem(750);
  }
  .container {
    h2 {
      font-family: 'noto serif tc';
      font-weight: 600; //SemiBold
      font-size: rem(75);
      text-align: center;
      line-height: rem(75);
      letter-spacing: rem(4);
      color: #000;
      margin: 0 auto;
      span {
        display: inline-block;
        font-family: 'noto sans tc';
        font-size: rem(48);
        font-weight: 300; //Regular
      }
    }
    h3 {
      margin: 0 auto;
      font-size: rem(44);
      line-height: rem(69);
      letter-spacing: rem(3);
      color: #0e7dcb;
      text-align: center;
      font-family: 'noto serif tc';
      font-weight: 600; //SemiBold
      strong {
        display: block;
        font-size: rem(55);
        font-weight: 700;  //Bold
      }
    }
    .h2 {
      &--medium {
        font-size: rem(50);
        letter-spacing: rem(3);
        font-family: 'noto serif tc';
        font-weight: 500;  //Medium
      }
      &--small {
        font-size: rem(48);
        letter-spacing: rem(3);
      }
    }
    .cta {
      display: block;
      background-color: #000000;
      font-weight: 400; //Medium
      color: #FFF;
      font-size: rem(35);
      line-height: rem(100);
      letter-spacing: rem(1.5);
      width: rem(420);
      text-align: center;
      text-decoration: none;
      margin: auto;
      cursor: pointer;
      transition: all 0.3s ease;
      span {
        &::after {
          content: "";
          width: rem(15);
          height: rem(27);
          background-image: url(../images/cta-arrow@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          margin-left: rem(15);
          animation: go_horizontal 1s infinite linear;
        }
      }
      &:hover {
        // bottom: rem(5);
        span {
          &::after {
            animation-name: none;
          }
        }
      }
    }
    .link {
      color: #0e7dcb;
      text-decoration: underline;
      padding: 0 rem(8);
      cursor: pointer;
      &::after {
        content: "";
        background-image: url(../images/external-link@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(29);
        height: rem(28);
        display: inline-block;
        margin-left: rem(8);
      }
    }
  }
}

// KV
.kv {
  height: 100vh;
  min-height: rem(1390);
  background-image: url(../images/kv/kv_bg@1.5x.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  .container {
    height: 100%;
  }
  .top_area {
    padding-top: rem(60);
    img {
      display: block;
      margin: auto;
    }
    .logo {
      width: rem(309);
      margin-bottom: rem(30);
    }
    .slogan {
      width: rem(647);
    }
  }
  .bottom_area {
    position: absolute;
    width: 100%;
    padding-bottom: rem(80);
    bottom: 0;
    .cta::before {
      content: "";
      background-image: url(../images/kv/elle-plus@2x.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: rem(214);
      height: rem(65);
      position: absolute;
      top: rem(-35);
      left: rem(-120);
      animation: flow 1.5s infinite linear;
    }
  }
}

// info
.info {
  padding: rem(160) 0 rem(160) 0;
  background-image: url(../images/info/bg@2x.png);
  background-repeat: repeat-x;
  background-size: contain;
  p {
    font-size: rem(32);
    line-height: 1.275;
    font-weight: 300; //Regular
    color: #313131;
  }
  .title-1 {
    .subtitle {
      width: rem(652);
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content-2 {
    padding-bottom: rem(80);
  }
  .content-3 {
    .card {
      flex: 0 0 50%;
      width: 50%;
    }
    .label {
      width: rem(152);
    }
    .stepimg {
      width: rem(280);
      display: block;
      margin: auto;
    }
  }
}

// feedback
.feedback {
  padding: rem(160) 0 rem(100) 0;
  font-size: rem(26);
  line-height: rem(38);
  color: #313131;
  background-color: #f1f8ff;
  h2 {
    color: #0e7dcb !important;
  }
  // 總分區
  .rating {
    &-stage {
      padding: rem(40) 0;
      height: rem(780);
      background-image: url(../images/feedback/product@2x.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center bottom;
    }
    // 弧線
    &-circle {
      width: rem(608);
      height: rem(608);
      border: rem(2) solid #0ce0e8;
      border-radius: rem(608);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    // 容器
    &-badges {
      width: 100%;
      height: 100%;
    }
    // 單顆圓
    &-badge {
      position: absolute;
      display: grid;
      place-items: center;
      text-align: center;
      padding: 18px;
      background-image: url(../images/feedback/spot-bg@2x.png);
      background-size: 110%;
      background-position: center;
      background-repeat: no-repeat;
      width: rem(275);
      height: rem(275);
      .badge-text {
        font-size: rem(32);
        line-height: rem(52);
        color: #fff;
        font-weight: 400; //Medium
        letter-spacing: rem(1);
        // margin-bottom: rem(4);
        text-shadow: 0 0 3px #0eb1b7;
      }
      .badge-score {
        font-family: 'noto serif tc';
        font-size: rem(72.5);
        color: #ffffdd;
        line-height: 1;
        font-weight: 600; //SemiBold
        text-shadow: 0 0 3px #0eb1b7;
        small {
          font-size: rem(43);
          vertical-align: baseline;
          margin-left: rem(2);
        }
      }
    }
    // 定位
    .pos-top {
      left: 50%;
      top: -8%;
      transform: translateX(-50%);
    }
    .pos-left {
      left: -3%;
      top: 19%;
    }
    .pos-right {
      right: -3%;
      top: 19%;
    }
    .pos-bl {
      left: 5.5%;
      bottom: 2%;
    }
    .pos-br {
      right: 5.5%;
      bottom: 2%;
    }
  }
  // 回饋區 
  .reviews {
    padding-bottom: rem(10);
    &-inner {
      width: rem(720);
      margin: auto;
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
      border-radius: rem(40);
      background-color: #FFF;
      overflow: hidden;
      padding-top: rem(110);
      padding-bottom: rem(30);
    }
    &-title {
      position: absolute;
      top: rem(30);
      left: rem(4);
      z-index: 1;
      background-color: #0e7dcb;
      color: #FFF;
      font-weight: 300; //Regular
      font-size: rem(36);
      letter-spacing: rem(2);
      padding: rem(20);
      padding-right: rem(60);
      display: inline-block;
      border-bottom-right-radius: rem(60);
      img {
        width: rem(78);
        margin-right: rem(15);
      }
      // &::before {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   bottom: rem(-9);
      //   width: 0;
      //   height: 0;
      //   border-style: solid;
      //   border-width: 0 rem(7) rem(9) 0;
      //   border-color: transparent #0a64a4 transparent transparent;
      // }
    }
    &-list {
      padding: 0 rem(30);
    }
    &-item {
      display: flex;
      gap: rem(20);
      padding: rem(40) 0;
      border-bottom: 1px solid #0e7dcb;
      flex-wrap: wrap;
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        // text-align: right;
        .reviews-short-content {
          .reviews-toggle {
            margin-left: 0;
            margin-right: auto;
          }
        }

        .reviews__content {
          align-items: flex-end;
        }
      }
      .reviews-toggle[hidden] {
        opacity: 0;
        display: none;
      }
      &.is-expanded .reviews-full-content {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &-avatar {
      flex: 0 0 rem(180);
      width: rem(180);
      height: rem(180);
      border-radius: rem(180);
      overflow: hidden;
    }
    &-toggle {
      font-size: rem(24);
      font-weight: 300;
      width: rem(250);
      height: rem(50);
      text-align: center;
      padding-right: rem(40);
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: rem(20);
      background-position: 88% 50%;
      border: 1px solid #313131;
      color: #313131;
      border-radius: 0;
      margin-top: rem(10);
      display: block;
    }
    &-short-content {
      width: calc(100% - rem(200));
      font-size: rem(26);
      line-height: rem(38);
      color: #313131;
      font-weight: 300; //Regular
      .reviews-toggle {
        background-image: url(../images/feedback/arrow-show@2x.png);
        margin-left: auto;
        margin-right: 0;
      }
    }
    &-full-content {
      background-color: #f1f8ff;
      border-radius: rem(20);
      padding: rem(20) rem(30);
      opacity: 0;
      transform: translateY(8px);
      transition: 0.3s;
      p {
        font-size: rem(22);
        line-height: rem(33);
        letter-spacing: rem(1);
        text-align: justify;
        color: #313131;
        font-weight: 300; //Regular
      }
      .reviews-toggle {
        background-image: url(../images/feedback/arrow-hide@2x.png);
        margin-left: auto;
        margin-right: 0;
      }
    }
    &-name {
      font-size: rem(34);
      font-weight: 600; //SemiBold
      color: #0e7dcb;
      margin-bottom: rem(10);
      font-family: "noto serif tc";
    }
    
    // &-text {
    //   line-height: rem(38);
    //   max-height: rem(38*4.4);
    //   overflow: auto;
    // }
  }
}

// data
.data {
  background-image: url(../images/data/bg@2x.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: #51b6be;
  padding-top: rem(640);
  &-content {
    width: rem(720);
    margin: auto;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
    border-radius: rem(40);
    background-color: #FFF;
    overflow: hidden;
    .top-text {
      border-bottom: 1px solid #0e7dcb;
      p {
        font-size: rem(26);
        line-height: rem(45);
        font-weight: 300;
        text-align: center;
        letter-spacing: rem(1);
        color: #313131;
      }
      strong {
        font-family: "noto serif tc";
        font-size: rem(38);
        line-height: rem(58);
        font-weight: 600; //SemiBold
        color: #0e7dcb;
        display: block;
      }
      small {
        display: block;
        font-size: rem(22);
        line-height: rem(45);
        color: #7f7f7f;
      }
    }
  }
  &-notice {
    font-size: rem(24);
    line-height: rem(38);
    font-weight: 300;
    color: #000;
    border-radius: rem(20);
    background-color: #f5f5f5;
    ol {
      margin: 0;
      padding: 0;
      list-style-position: outside;
      padding-left: rem(24);
      li {
        margin: 0;
      }
    }
  }
  .elle {
    padding: rem(40);
    text-align: center;
    img {
      width: rem(150);
    }
  }
}

// popup
body.is-lock {
  position: fixed;
  width: 100%;
  overflow: hidden;
}
.popup {
  position: fixed;
  inset: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.45s ease;
  &.is-active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    .popup-wrapper {
      top: 50%;
      opacity: 1;
      transform: scale(1) translateY(-50%);
    }
  }
  &-mask {
    position: absolute;
    inset: 0;
    background: rgba(167,167,167,.95);
  }
  &-close {
    background-image: url(../images/popup/icon-close@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(50);
    height: rem(50);
    position: absolute;
    right: rem(40);
    top: rem(40);
  }
  &-wrapper {
    width: rem(680);
    margin: auto;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
    border-radius: rem(40);
    background-color: #FFF;
    overflow: hidden;
    padding-top: rem(100);
    padding-bottom: rem(70);
    margin: auto;
    top: calc(50% + 40px);
    // top: 50%;
    transform: scale(0.96) translateY(-50%);
    opacity: 0;
    transition: all 0.55s ease;
    h2 {
      font-size: rem(56);
      color: #0e7dcb;
      font-family: "noto serif tc";
      &::after {
        content: "";
        display: block;
        width: rem(100);
        height: rem(6);
        background-color: #0ce0e8;
        margin: auto;
        margin-top: rem(25);
        margin-bottom: rem(65);
      }
    }
  }
  &-content {
    max-height: 70vh;
    overflow-y: scroll;
  }
  &-card {
    align-items: flex-start;
    .txt {
      flex: 1 1 auto;
      h3 {
        img {
          width: rem(152);
          margin-top: rem(5);
        }
        span {
          font-size: rem(42);
          font-family: 'noto serif tc';
          font-weight: 600; //SemiBold
          color: #0e7dcb;
        }
      }
      .popup-desc {
        font-size: rem(28);
        line-height: rem(44);
        text-align: justify;
        color: #313131;
        padding-left: rem(20);
      }
    }
    .img {
      width: rem(220);
      flex: 0 0 rem(220);
    }
  }
}
// animation
@keyframes go_horizontal {
  0%,100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}
@keyframes flow {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}