@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600&display=swap");
:root {
  --remBasicSize: 16px;
}

/*思源*/
* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  font-family: "Noto Sans TC", Helvetica, Arial, "黑體-繁", "Heiti TC", "儷黑", "LiHei", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: calc(1 * var(--remBasicSize));
  width: 100%;
  height: 100%;
  background-color: #edc1c5;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.padding_left-right--20 {
  padding-right: calc(1.25 * var(--remBasicSize));
  padding-left: calc(1.25 * var(--remBasicSize));
}
.padding_left-right--30 {
  padding-right: calc(1.875 * var(--remBasicSize));
  padding-left: calc(1.875 * var(--remBasicSize));
}
.padding_left-right--40 {
  padding-right: calc(2.5 * var(--remBasicSize));
  padding-left: calc(2.5 * var(--remBasicSize));
}
.padding_left-right--50 {
  padding-right: calc(3.125 * var(--remBasicSize));
  padding-left: calc(3.125 * var(--remBasicSize));
}
.padding_top--10 {
  padding-top: calc(0.625 * var(--remBasicSize));
}
.padding_top--20 {
  padding-top: calc(1.25 * var(--remBasicSize));
}
.padding_top--30 {
  padding-top: calc(1.875 * var(--remBasicSize));
}
.padding_top--40 {
  padding-top: calc(2.5 * var(--remBasicSize));
}
.padding_top--50 {
  padding-top: calc(3.125 * var(--remBasicSize));
}
.padding_top--60 {
  padding-top: calc(3.75 * var(--remBasicSize));
}
.padding_bottom--10 {
  padding-bottom: calc(0.625 * var(--remBasicSize));
}
.padding_bottom--20 {
  padding-bottom: calc(1.25 * var(--remBasicSize));
}
.padding_bottom--30 {
  padding-bottom: calc(1.875 * var(--remBasicSize));
}
.padding_bottom--40 {
  padding-bottom: calc(2.5 * var(--remBasicSize));
}
.padding_bottom--50 {
  padding-bottom: calc(3.125 * var(--remBasicSize));
}
.padding_bottom--60 {
  padding-bottom: calc(3.75 * var(--remBasicSize));
}

.margin_0 {
  margin: 0;
}
.margin_top--10 {
  margin-top: calc(0.625 * var(--remBasicSize));
}
.margin_top--20 {
  margin-top: calc(1.25 * var(--remBasicSize));
}
.margin_top--30 {
  margin-top: calc(1.875 * var(--remBasicSize));
}
.margin_top--40 {
  margin-top: calc(2.5 * var(--remBasicSize));
}
.margin_top--50 {
  margin-top: calc(3.125 * var(--remBasicSize));
}
.margin_top--60 {
  margin-top: calc(3.75 * var(--remBasicSize));
}
.margin_bottom--10 {
  margin-bottom: calc(0.625 * var(--remBasicSize));
}
.margin_bottom--20 {
  margin-bottom: calc(1.25 * var(--remBasicSize));
}
.margin_bottom--30 {
  margin-bottom: calc(1.875 * var(--remBasicSize));
}
.margin_bottom--40 {
  margin-bottom: calc(2.5 * var(--remBasicSize));
}
.margin_bottom--50 {
  margin-bottom: calc(3.125 * var(--remBasicSize));
}
.margin_bottom--60 {
  margin-bottom: calc(3.75 * var(--remBasicSize));
}
.margin_left--10 {
  margin-left: calc(0.625 * var(--remBasicSize));
}
.margin_left--20 {
  margin-left: calc(1.25 * var(--remBasicSize));
}
.margin_left--30 {
  margin-left: calc(1.875 * var(--remBasicSize));
}
.margin_left--40 {
  margin-left: calc(2.5 * var(--remBasicSize));
}
.margin_right--10 {
  margin-right: calc(0.625 * var(--remBasicSize));
}
.margin_right--20 {
  margin-right: calc(1.25 * var(--remBasicSize));
}
.margin_right--30 {
  margin-right: calc(1.875 * var(--remBasicSize));
}
.margin_right--40 {
  margin-right: calc(2.5 * var(--remBasicSize));
}

.flex {
  display: flex;
  align-items: center;
}
.flex_gap--10 {
  gap: calc(0.625 * var(--remBasicSize));
}
.flex_gap--20 {
  gap: calc(1.25 * var(--remBasicSize));
}
.flex_gap--30 {
  gap: calc(1.875 * var(--remBasicSize));
}
.flex_gap--40 {
  gap: calc(2.5 * var(--remBasicSize));
}

.text--center {
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .wrapper .bg {
    background-size: 1000px auto;
    background-position: 52% top;
  }
}
.wrapper section, .wrapper .container {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  max-width: calc(51.75 * var(--remBasicSize));
}
.wrapper .container h1 {
  font-size: calc(3.625 * var(--remBasicSize));
  font-family: "noto serif tc";
  color: #000000;
  text-align: center;
  letter-spacing: calc(0.1875 * var(--remBasicSize));
  margin: 0 auto calc(3.5 * var(--remBasicSize)) auto;
}
.wrapper .container h2 {
  font-family: "noto serif tc";
  font-weight: 600;
  font-size: calc(3 * var(--remBasicSize));
  text-align: center;
  color: #693e35;
  margin: 0 auto calc(2.5 * var(--remBasicSize)) auto;
}
.wrapper .container .data-form {
  margin: 0 calc(2.5 * var(--remBasicSize)) calc(3.5 * var(--remBasicSize)) calc(2.5 * var(--remBasicSize));
  padding: calc(3.75 * var(--remBasicSize)) calc(2.5 * var(--remBasicSize));
  background-color: #fff;
}
.wrapper .container .data-form::after {
  content: "";
  display: block;
  clear: both;
  background-image: url(../images/paper-shadow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: calc(1.8125 * var(--remBasicSize));
  height: calc(15 * var(--remBasicSize));
  position: absolute;
  right: calc(-1.8125 * var(--remBasicSize));
  top: 0;
}
.wrapper .container .notice {
  color: #313131;
  padding: 0 calc(3.125 * var(--remBasicSize));
  margin-bottom: calc(3.5 * var(--remBasicSize));
}
.wrapper .container .notice .title {
  font-family: "noto serif tc";
  font-weight: 600;
  font-size: calc(2 * var(--remBasicSize));
  line-height: calc(3.375 * var(--remBasicSize));
  letter-spacing: calc(0.0625 * var(--remBasicSize));
  text-align: center;
  margin-bottom: calc(1.875 * var(--remBasicSize));
}
.wrapper .container .notice ol {
  padding: 0 0 0 calc(2.625 * var(--remBasicSize));
  margin: 0;
}
.wrapper .container .notice li {
  font-size: calc(1.875 * var(--remBasicSize));
  line-height: calc(2.8125 * var(--remBasicSize));
  margin-bottom: calc(0.625 * var(--remBasicSize));
}
.wrapper .footer {
  text-align: center;
  padding-bottom: calc(6.25 * var(--remBasicSize));
  margin-top: calc(6.25 * var(--remBasicSize));
}
.wrapper .footer img {
  width: calc(32.75 * var(--remBasicSize));
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes go_horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
}
@keyframes flow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
[data-aos=custom-anim1] {
  filter: blur(10px);
  opacity: 0;
}
[data-aos=custom-anim1].aos-animate {
  filter: blur(0px);
  opacity: 1;
}

.wrapper .bg {
  position: absolute;
  transform: rotate(-10deg) translateX(-20%) translateY(-14%);
  width: 150vw;
  height: 200vh;
}
@media (max-width: 828px) {
  .wrapper .bg {
    transform: rotate(-18deg) translateX(13%) translateY(-3%);
  }
}

.main .logo {
  width: calc(24 * var(--remBasicSize));
  height: calc(30.25 * var(--remBasicSize));
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: calc(3.75 * var(--remBasicSize)) auto calc(2.5 * var(--remBasicSize)) auto;
}
.main .decos {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.main .decos .lips {
  position: absolute;
  animation: wiggle 4s infinite ease-in-out;
}
.main .decos .lips_2 {
  width: calc(7.75 * var(--remBasicSize));
  top: calc(1.875 * var(--remBasicSize));
  left: calc(8.125 * var(--remBasicSize));
  animation-timing-function: steps(1, start);
}
.main .decos .lips_3 {
  width: calc(7.5625 * var(--remBasicSize));
  top: calc(30 * var(--remBasicSize));
  right: calc(7.5 * var(--remBasicSize));
  animation-timing-function: steps(2, start);
}
.main .decos .post-it {
  position: absolute;
  width: calc(15.625 * var(--remBasicSize));
}
.main .decos .post-it_left {
  top: calc(20 * var(--remBasicSize));
  left: calc(-0.625 * var(--remBasicSize));
}
.main .decos .post-it_right {
  top: calc(7.1875 * var(--remBasicSize));
  right: 0;
}
.main .top-infomation .text_big {
  font-family: "noto serif tc";
  font-size: calc(2.3125 * var(--remBasicSize));
  line-height: calc(4 * var(--remBasicSize));
  color: #cf2d3a;
  font-weight: 600;
  text-align: center;
  letter-spacing: calc(0.0625 * var(--remBasicSize));
  margin-bottom: calc(3.5 * var(--remBasicSize));
}
.main .top-infomation .h2 {
  width: calc(31.25 * var(--remBasicSize));
  height: calc(9.375 * var(--remBasicSize));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}
.main .top-infomation .h2 h2 {
  display: none;
}
.main .top-infomation .h2_who {
  background-image: url(../images/beautystar_h2_who.png);
}
.main .top-infomation .h2_how {
  background-image: url(../images/beautystar_h2_how.png);
}
.main .top-infomation .who-text {
  background-image: url(../images/beautystar_text_who.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: calc(35.75 * var(--remBasicSize));
  height: calc(5.3125 * var(--remBasicSize));
  margin: calc(0.625 * var(--remBasicSize)) auto calc(3.5 * var(--remBasicSize)) auto;
}
.main .top-infomation .how-list {
  font-size: calc(2 * var(--remBasicSize));
  line-height: calc(3.4375 * var(--remBasicSize));
  letter-spacing: calc(0.0625 * var(--remBasicSize));
  color: #313131;
  margin-bottom: calc(3.5 * var(--remBasicSize));
}
.main .top-infomation .how-list ul {
  list-style: none;
  padding: 0 calc(3.125 * var(--remBasicSize));
  margin: 0;
}
.main .top-infomation .how-list ul li {
  padding-left: calc(8.125 * var(--remBasicSize));
  background-repeat: no-repeat;
  background-size: calc(7.0625 * var(--remBasicSize)) auto;
  background-position: left calc(0.75 * var(--remBasicSize));
  margin-bottom: calc(2.5 * var(--remBasicSize));
}
.main .top-infomation .how-list ul li:after {
  content: "";
  display: block;
  width: calc(0.9375 * var(--remBasicSize));
  height: calc(2.5 * var(--remBasicSize));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/beautystar_arrow.png);
  position: absolute;
  left: calc(2.8125 * var(--remBasicSize));
  bottom: calc(-2.5 * var(--remBasicSize));
}
.main .top-infomation .how-list ul li:nth-child(1) {
  background-image: url(../images/beautystar_step1.png);
}
.main .top-infomation .how-list ul li:nth-child(2) {
  background-image: url(../images/beautystar_step2.png);
}
.main .top-infomation .how-list ul li:nth-child(3) {
  background-image: url(../images/beautystar_step3.png);
}
.main .top-infomation .how-list ul li:nth-child(3):after {
  display: none;
}
.main .top-infomation .how-list ul li strong {
  display: inline-block;
  margin-right: calc(1.25 * var(--remBasicSize));
}
.main .top-infomation .how-list .copy-hashtag {
  display: inline-block;
  cursor: pointer;
  background-color: #693e35;
  color: #fff;
  line-height: calc(5 * var(--remBasicSize));
  text-align: center;
  width: calc(25 * var(--remBasicSize));
  margin: calc(1.25 * var(--remBasicSize)) auto;
  border-radius: calc(1.125 * var(--remBasicSize));
}
.main .top-infomation .how-list .copy-hashtag.is-copied {
  opacity: 0.7;
}/*# sourceMappingURL=beautystar.css.map */